# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual environment
venv/
env/
ENV/
*.env

# Django stuff
*.sqlite3
db.sqlite3
*.pyc
*.pyo
media/
staticfiles/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Sphinx build
docs/_build/
